.snappy-diagram
  background-color: white
  border: 1px solid whitesmoke
  box-shadow: 0 0 10px rgba(black, 0.2)

  .snappy-cell-box
    fill: #89d0ff
    stroke-width: 1
    stroke: #0099FF

  .snappy-arrow
    stroke: #333
    stroke-width: 2

  marker
    fill: black

  .orphan
    fill: white
    stroke: #999
